VIDEO_API_BASE_URL=http://8.137.157.96:9220
VIDEO_PROJECT_CODE=
VIDEO_ACCESS_KEY=
VIDEO_SECRET_KEY=

IMAGE_API_BASE_URL=http://47.77.198.47:3001/v1
IMAGE_API_KEY=

PUBLIC_BASE_URL=
UPLOAD_TTL_MINUTES=60
UPLOAD_CLEANUP_INTERVAL_MINUTES=15
MAIN_APP_URL=https://www.qycm.top
MAIN_APP_VIDEO_ENTRY_PATH=/bot/video-workbench-seedance
REQUIRE_MAIN_APP_SSO=true
VIDEO_SITE_SESSION_SECRET=
